.price-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  .price-box-ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .price-tag-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .price-tag {
      color: #000;
      position: relative;
      margin: auto;
    }
    .price-tag-initial {
      font-size: 19px;
      color: #000;
      text-decoration: line-through;
      position: relative;
      right: 8px;
      bottom: 11px;
    }
  }
}
